{% extends 'base.html.twig' %}


{% block body %}
	<div class="mycontainer">
		<div id="presentation">

			<h2>Les comptes rendus de réunion</h2>

			<ul>
				<li>Réunion du 12 Janvier</li>
				<p><i>Réunion de présentation du projet.</i></p>
				<a href="{{ asset('Ressources/cr1.pdf') }}">Compte Rendu du 12 Janvier</a>
			</ul>
		</div>
	</div>
       
{% endblock %}
